.quotes-list {
    list-style: none;
    border: 1px solid black;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 0;
}

.empty-quotes-list-message {
    font-style: italic;
    font-size: large;
    margin: 1em;
}

.quote {
    display: flex;
    align-items: center;
}

.quote:not(:first-child) {
    border-top: 1px solid black;
}

.voting-container {
    display: flex;
}

.count {
    margin: 1em;
}